* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background-color: aqua;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

nav h1 {
  font-size: 3rem;
  padding: 5px 5px 5px 10%;
  background-color: grey;
}

nav ul {
  display: flex;
  font-size: 2rem;
}

nav li {
  margin: 0px 10px;
}

#subtitle-div {
  display: flex;
  padding: 20px 0px;
  background: url(https://t4.ftcdn.net/jpg/04/44/56/61/360_F_444566120_zSCv01llCnsoFACUuInCGyReIezOs8qK.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  padding-right: 50px;
}

#subtitle {
  margin-right: 15px;
  font-size: 30px;
  background-color: white;
  padding: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  max-width: 40%;
  /* align-items: flex-end; */
  padding-left: 2em;
}

aside div {
  border-style: solid;
  border-width: 0px 5px 0px 0px;
  /* add margin on top and/or bottom corresponding to work on right */
}

aside h1 {
  padding: 40% 1em;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#heading p {
  position: relative;
  left: 15%;
  font-size: 20px;
  max-width: 70%;
}

#heading h2,
#card-container h2 {
  margin-top: 1%;
  position: relative;
  left: 42%;
  font-size: 3em;
}

#heading #paragraph1 {
  margin: 40px 0px;
}

#heading #paragraph2 {
  margin-bottom: 10em;
}

#heading img {
  width: 20em;
  height: 25em;
  position: relative;
  left: 40%;
  margin-top: 2em;
}

/* #section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

#card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 15em;
}

.card {
  color: black;
  margin: 10px;
  border: 3px solid black;
  flex-basis: 915px;
  padding: 4em;
  max-width: 40%;
}

#project1,
#project2,
#project3 {
  position: relative;
}

.project-text {
  position: absolute;
  background-color: white;
  padding: 20px;
  left: 1%;
  bottom: 15%;
  font-size: 150%;
}

#project1 {
  /* width: 60em; */
  background: url(./images/calculator\ .png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 2;
  flex-basis: 100%;
  padding: 80px;
  max-width: 70%;
  /* height: 15em; */
}

#project2 {
  background: url(./images/world-map.gif);
}

#project3 {
  background: url(./images/./tictactoe.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#card-container h2 {
  margin-top: 1%;
  position: absolute;
  left: 42%;
  font-size: 3em;
  top: 170%;
}

#contact ul {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}

#contact h2 {
  margin-top: 1%;
  position: absolute;
  left: 42%;
  font-size: 3em;
  bottom: -170%;
}

/* Add media queries for mobile */
