* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background-color: red;

  color: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

nav h1 {
  font-size: 3rem;
  padding: 5px 5px 5px 10%;
  background-color: #252525;
}

nav ul {
  display: flex;
  font-size: 2rem;
}

nav li {
  margin: 0px 10px;
}

nav li a,
#contact li a {
  color: white;
  text-decoration: none;
}

#subtitle-div {
  display: flex;
  padding: 20px 0px;
  background: url(https://t4.ftcdn.net/jpg/04/44/56/61/360_F_444566120_zSCv01llCnsoFACUuInCGyReIezOs8qK.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  padding-right: 50px;
}

#subtitle {
  margin-right: 15px;
  font-size: 30px;
  background-color: white;
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#heading {
  background-color: #252525;
  color: white;
}

#heading p {
  position: relative;
  left: 15%;
  font-size: 20px;
  max-width: 70%;
}

#heading h2,
#card-container h2 {
  padding-top: 1%;
  position: relative;
  left: 42%;
  font-size: 3em;
}

#heading #paragraph1 {
  margin: 40px 0px;
}

#heading #paragraph2 {
  padding-bottom: 2%;
}

#heading img {
  width: 20em;
  height: 25em;
  position: relative;
  left: 40%;
  margin-top: 2em;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 5% 0px;
  color: white;
}

.card {
  color: black;
  margin: 10px;
  border: 3px solid black;
  flex-basis: 915px;
  padding: 4em 4em 4em 6em;
  max-width: 40%;
}

#project1,
#project2,
#project3 {
  position: relative;
}

.project-text {
  position: absolute;
  background-color: white;
  padding: 20px;
  left: 1%;
  bottom: 15%;
  font-size: 150%;
}

#project1 {
  background: url(https://storage.googleapis.com/replit/images/1670002823446_774b0b52bdb04e22247044ca3a843680.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 2;
  flex-basis: 100%;
  padding: 80px;
  max-width: 70%;
  margin-right: 15%;
  height: 15em;
  background-position-y: 70%;
}

#project1 h5 {
  font-size: 1.5em;
}

#project2 h5,
#project3 h5 {
  font-size: 95%;
}
#project2 p,
#project3 p {
  font-size: 75%;
}

#project2 {
  background: url(https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVjaXBlJTIwYm9va3xlbnwwfHwwfHw%3D&w=1000&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
}

#project3 {
  background: url(./images/./tictactoe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 15%;
}

#card-container h2 {
  margin-top: -20%;
  padding-top: 2%;
  font-size: 3em;
}

#contact ul {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

#contact h2 {
  margin-top: -8%;

  font-size: 3em;

  color: white;
  padding-left: 42%;
  padding-bottom: 3%;
}

#contact {
  padding: 10% 0px 2% 0px;
  background-color: #252525;
}

/* Add media queries for mobile */
