/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#button {
    margin-top: 5em;
    margin-left: 13em;
    font-size: 3em;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#button:hover {
    cursor: pointer;
}

#button:active {
    color: red;
    border-color: red;
}